<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-70(%d{yyyy-MM-dd HH:mm:ss.SSS} [%.15thread] %-5level %.36logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="de.vsfexperts" level="info" />
	<logger name="org.springframework" level="info" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
